[submodule "services/hermes-agent"]
	path = services/hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "system_prompts_leaks"]
	path = system_prompts_leaks
	url = https://github.com/asgeirtj/system_prompts_leaks.git
